.Header {
    position: fixed;
    top: 0px;left: 32.5%;
    width: 35%;
    z-index: 3;
    padding: 0px 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    height: 65px;
    transition: 0.4s;
}

.CoverImage {
    background-color: #ddd;
    width: 100%;
    aspect-ratio: 5/2;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.ProfileArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ProfileIcon {
    width: 120px;
    height: 120px;
    aspect-ratio: 1/1;
    background-color: #ddd;
    border: 12px solid #f8f7f7;
    border-radius: 999px;
    margin-top: -65px;
}
.ProductBox {
    border-bottom-width: 6px;
    border-bottom-style: solid;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ProductImage {
    width: 100%;
    aspect-ratio: 16/9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.ServiceImage {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 8px;
}

.TabArea {
    background-color: #eee;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.TabItem {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    gap: 10px;
    flex-grow: 1;
    border-radius: 8px;
    height: 45px;
    font-size: 14px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
}

@media (max-width: 480px) {
    .Header {
        width: 100%;
        left: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-width: 2px;
    }
}