.CTA {
    background: linear-gradient(
        var(--primary) 10%,
        var(--primaryDark) 90%
    );
    color: #fff;
}
.CTAIllustration {
    width: 40%;
}
@media (max-width: 480px) {
    .CTA {
        flex-direction: column !important;
    }
    .CTAIllustration { width: 100%;}
    .CTATitle { font-size: 24px !important; }
}