.Alert {
    position: fixed;
    bottom: 50px;right: 32.5%;left: 32.5%;
    padding: 20px;
    padding-bottom: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px;
    color: #fff;
}

@media (max-width: 480px) {
    .Alert {
        font-size: 12px;
        bottom: 70px;right: 0px;left: 0px;
        border-radius: 0px;
        z-index: 55;
    }
}