.Section {
    padding: 100px;
    flex-direction: row;
}
.SectionReversed { 
    padding: 100px;
    flex-direction: row-reverse;
}
.SectionSpacer {
    width: 15%;
}
.SectionInfo {
    max-width: 40%;
}
.SectionImage {
    border-bottom: 8px solid var(--primaryTransparent);
    background-color: #fff;
    border-radius: 12px;
}
@media (max-width: 480px) {
    .SectionReversed {
        flex-direction: row;
    }
}