.modal {
    position: fixed;
    top: 0px;left: 0px;right: 0px;bottom: 0px;
    background-color: #00000095;
    z-index: 9999 !important;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    overflow-y: scroll;
    box-sizing: border-box;
    text-align: center;
    padding: 50px 0px;
}
.modal-body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    width: 40%;
    margin: auto 20px;
    text-align: left;
}
.modal-title {
    border-bottom: 1px solid #ddd;
    padding: 10px 25px;
    font-weight: 700;
    font-size: 130%;
}
.modal-content {
    padding: 50px;
}
.modal-close {
    float: right;
    margin-top: 5px;
    cursor: pointer;
}

@media (max-width: 720px) {
    .modal {
        padding-top: 50px !important;
    }
    .modal-body {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .modal-body {
        width: 90%;
    }
}